POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
APP_SERVER_MODE=development
APP_SERVER_HOST=127.0.0.1
APP_SERVER_PORT=8000
APP_DATABASE_DSN=postgres://postgres:postgres@localhost:5432/postgres
APP_PEOPLE_INFO_SERVER_URL=http://127.0.0.1:8001
APP_PEOPLE_INFO_SERVER_TIMEOUT=1
TEST_APP_DATABASE_DSN=postgres://postgres:postgres@localhost:5432/postgres
TEST_APP_PEOPLE_INFO_SERVER_URL=http://127.0.0.1:8001
